@model PesquisaEleitoral_MVC.Models.VotoViewModel

@{
    ViewBag.Title = "Bairro";
}

<h2>Bairro</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3 class="text-danger">Erro ao remover, bairro vinculado aos Usuários.</h3>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
